.grid-stack {
    background: lightgoldenrodyellow;
}
.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}

body {
    background : lightgrey ;
    font-family : sans-serif ;
}